# huzaifawoltrio/dejiemr/DejiEMR-new-patient-profile/requirements.txt
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
psycopg2-binary
python-dotenv
cloudinary
email-validator
requests
Flask-Limiter
limits
werkzeug
sqlalchemy
greenlet
eventlet
flask-socketio